{% extends "base.html" %}
{% block bodyblock %}
<h3>Please enter the code that your partner sent you</h3>
{% comment %} enter code: form {% endcomment %}
 <form action="" method='post'>
    {% csrf_token %}
    <input class='btn btn-light' type="text" name='code' placeholder='Code'>
    <input class='btn btn-light' type="submit" value='Submit'>
 </form>



{% comment %} in views redirect to the page if it exists and is not taken {% endcomment %}
{% comment %} in urls create survey/code {% endcomment %}

{% endblock bodyblock %}