{% extends "base.html" %}
{% block bodyblock %}

{% comment %} choose category {% endcomment %}
<h3>Generate new survey</h1>
  &nbsp
<h5>After generating you will get a code for this particular survey that you can share with you partner.</h5>
&nbsp
<form action="" method='post'>
    {% csrf_token %}
    <label for="cars">Choose category:</label>
    <select name="category" id="category">
        {% for c in category %}
        <option value="{{c.category_name}}">{{c.category_name}}</option>
        {% endfor %}
    </select>
    <br><br>
    <input class='btn btn-light' type="submit" value='Generate survey'>
  </form>


{% comment %} generate code {% endcomment %}


{% comment %} button to go to the survey {% endcomment %}


{% comment %} go to page/<int:code> {% endcomment %}

 {% comment %} <a href="{% url "survey_app:survey/{{code}}" %}"></a> {% endcomment %}


{% endblock bodyblock %}