{% extends "base.html" %}
{% block bodyblock %}
{% load my_templates %}
<h1>View the surveys you already filled out</h1>

<table class='table w-50 table-hover'>
    <tr>
        <td></td>
        <td>Category</td>
        <td>Code</td>
        <td>Partner</td>
    </tr>
{% for code in codes  %}
    <tr>
        <td><a href=" {% url 'survey_app:results' code %}"> View
        </a> </td>
    <td>{%with preferences|code:code|first as current_p%}
        {{current_p.desire.category}}
    {% endwith %} 
     </td>

    <td> {{code}} </td>

    <td>{%with all_preferences|code:code|not_user:user|first as current_p%}
        {% if current_p %}
            with <b>{{ current_p.user }}</b>
        {% else %} 
        {{ current_p.user }}
            Waiting for the partner to fill in the survey
        {% endif %}
        
        {% endwith %} </td>
        
        

    </tr>
{% endfor %}

{% endblock bodyblock %}