<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Users preferences</title>
</head>
<body>
    {% if preferences %}
        <ol>
            {% for pref in preferences %}
                <li> 
                    <ul>
                        <li>{{pref.user.user_name}}</li>
                        <li>{{pref.desire.desire_name}}</li>
                        
                    </ul>
                </li>
            {% endfor %}
        </ol>

    {% endif %}
    
</body>
</html>