{% extends "base.html" %}
{% block bodyblock %}
<div class='jumbotron'>
    <h1>Please login</h1>
    <form action="{% url "user_app:user_login" %}" method='post'>
        {% csrf_token %}

        <p><label for="username">Username:</label>
        <input type="text" name='username' placeholder='Enter Username'></p>

        <p><label for="password">Password:</label>
        <input type="password" name='password' placeholder='Password'></p>

        <p><input class='btn btn-light' type="submit" value='Login'></p>
    </form>
</div>

{% endblock bodyblock %}