{% extends "user_app/base.html" %}
{% block bodyblock %}
<h1> HEY </h1>
{% if user.is_authenticated %}
    <p>You can do something!</p>
    <div class='container'>
        <a href="{% url 'desire_app:newdesire' %}">Add new desire to the list</a>
    </div>
    <div class='container'>
        <a href="{% url 'desire_app:newcategory' %}">Add new category</a>
    </div>
    <div class='container'>
        <a href="{% url 'desire_app:categories' %}">View all categories</a>
    </div>
    <div class='container'>
        <a href="{% url 'survey_app:newsurvey' %}">Create new survey</a>
    </div>
    <div class='container'>
        <a href="{% url 'survey_app:entercode' %}">Enter code for new survey</a>
    </div>
    <div class='container'>
        <a href=" {% url 'survey_app:resultlist' %} ">My results</a>
    </div>


{% else %}
    Please log in or register:
    <div class='container'>
        <a href="{% url 'user_app:user_login'%}">Login</a>
    </div>
    <div class='container'>
        <a href="{% url 'user_app:register'%}">Register</a>
    </div>
{% endif %}
{% endblock bodyblock %}